<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.like.ble.peripheral">

    <!--Android 12 start-->
    <!--危险权限 如果您的应用与已配对的蓝牙设备通信-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!--危险权限 如果您的应用使当前设备可被其他蓝牙设备检测到-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!--Android 12 end-->
</manifest>